{% extends "books/base.html" %}

{% block title %}
    Главная
{% endblock title %}

{% block body %}
    <nav>
        <ul>
            <li><a href="{% url 'books:books' %}">Список книг</a></li>
            {% if user.is_staff%}
                <li><a href="{% url 'books:create' %}">Добавить новую книгу</a></li>
            {% endif %}
            {% if user.is_authenticated %}
                <li><a href="{% url 'auth_user:logout' %}">Выйти из профиля</a></li>
            {% else %}
                <li><a href="{% url 'auth_user:register' %}">Зарегистрироваться или войти</a></li>
            {% endif %}
        </ul>
    </nav>
    <h1>Добро пожаловать в книжный интернет магазин</h1>

    <form method="get">
        <input type="text" name="query" value="{{ query }}" placeholder="Поиск...">
        <button type="submit">Найти</button>
    </form>
        {% if query %}
            <div class="container">
                {% for book in books %}
                    <a href="{% url 'books:book' pk=book.pk %}" class="card-link">
                        <div class="card">
                            <h3>{{ book.title }}</h3>
                            <p>{{ book.description }}</p>
                            <p>{{ book.published }}</p>
                            <p class="price">{{ book.price }} рублей</p>
                        </div>
                    </a>
                {% empty %}
                    <p>Книги не найдены.</p>
                {% endfor %}
            </div>
        {% endif %}
{% endblock body %}
