{% extends "books/base.html" %}

{% block title %}
    {{ book.title }}
{% endblock title %}

{% block body %}
    <nav>
        <ul>
            <li><a href="{% url 'books:book' pk=book.pk %}">Вернуться к книге {{book.title}}</a></li>
        </ul>
    </nav>
    <div>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Обновить книгу {{book.title}}</button>
        </form>
    </div>
{% endblock body %}